{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <script>
    window.onload = function()
    {
        let SelVUZ = document.getElementById('SelVUZ');
        SelVUZ.onchange = function() {
            document.querySelector("input[id*='submit']").click()
            updateLeafData();
        }
        let SelFack = document.getElementById('SelFack');
        SelFack.onchange = function() {
            document.querySelector("input[id*='submit']").click()
            updateLeafData();
        }
    }
    </script>
    <h1>{{ _('Редактирование профиля') }}</h1>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
{% endblock %}
