<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<table class="table table-hover">
        {% if friendempty == True and current_user.login != login %}
            <p>{{ _('У пользователя еще нет фолловеров, будьте первым') }} <br> <a href="{{ url_for('main.follow', id=idfoll) }}">{{ _('Follow') }}</a></p>
        {% endif %}
        {% if friendempty == True and current_user.login == login %}
            <p>{{ _('У вас нет друзей') }} <br> <a href="{{ url_for('main.user', id=id) }}">{{ _('Вернуться') }}</a> </p>
        {% endif %}
        {% for frend in frendi %}
        <tr>
            <td width="100px">
                <a href="{{ url_for('main.user', id = frend[7]) }}">
                    <img src="{{ frend[11] }}" width="100" height="100"/>
                </a>
            </td>
            <td width="100">
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', id=frend[7]) }}">
                            {{ frend[3] }}
                        </a>
                    </span>
                {% endset %}
            </td>
        </tr>
            <th width="100" align="center">
                    {{ _('%(username)s',
                    username=user_link) }}
                <br/>
            </th>
        {% endfor %}
    </table>