<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<table class="table table-hover">
        <tr>
            <td width="500"><img src="{{ avatar }}" width="500" height="500"></td>
            <div class="col-md-4">
            <td>
                <h1>{{ fio }}</h1>
                {% if about_me %}<p>{{ _('Статус: %(about_me)s', about_me=about_me) }}</p>{% endif %}
                {% if phone %}<p>{{ _('Телефон: %(phone)s', phone=phone) }}</p>{% endif %}
                {% if gender %}<p>{{ _('Пол: %(gender)s', gender=gender) }}</p>{% endif %}
                {% if dr %}<p>{{ _('День рождения: %(dr)s', dr=dr) }}</p>{% endif %}
                {% if vuz %}<p>{{ _('ВУЗ: %(vuz)s', vuz=vuz) }}</p>{% endif %}
                {% if facultet %}<p>{{ _('Факультет: %(facultet)s', facultet=facultet) }}</p>{% endif %}
                {% if kafedra %}<p>{{ _('Кафедра: %(kafedra)s', kafedra=kafedra) }}</p>{% endif %}
                <p>{{ _('%(count)s followers', count=followers) }}, {{ _('%(count)s following', count=following) }}</p>
                <p><a href="{{ url_for('main.user', id=iduser) }}">{{ _('Вернуться') }}</a></p>
            </td>
            </div>
        </tr>
    </table>
