{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    {{ pagination.links }}
    <table class="table table-hover">
        <tr>
            <td width="200"><a href="{{ url_for('main.user_popup', id = id) }}"><img src="{{ avatar }}" width="200" height="200"></a></td>
            <td>
                <h1>{{ fio }}</h1>
                {% if current_user.login == 'tehno-09@mail.ru' and current_user.login != logen  %}
                    <p><a href="{{ url_for('main.delete_profile', id=id) }}">{{ _('Удалить из жизни') }}</a></p>
                {% endif %}
                {% if about_me %}<p>{{ about_me }}</p>{% endif %}
                <p><a href="{{ url_for('main.foloww', id=id) }}">{{ _('%(count)s followers', count=followers) }}</a>, <a href="{{ url_for('main.folowww', id=id) }}">{{ _('%(count)s following', count=following) }}</a></p>
                {% if logen == current_user.login %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% else %}
                    {% if followed == False %}
                    <p><a href="{{ url_for('main.follow', id=id) }}">{{ _('Follow') }}</a></p>
                    {% else %}
                    <p><a href="{{ url_for('main.unfollow', id=id) }}">{{ _('Unfollow') }}</a></p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    <b><p>{{ _('Напишите пользователю что-нибудь:' )}}</p></b>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {{ pagination.links }}
{% endblock %}
